h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    font-family: "Philosopher", sans-serif;
    color: #71c55d;
  }
    #tablestyle{
    background-color:rgb(27, 27, 136);
    color:white;
    font-size: 15px;
    border-color: WHITE;
    }
    #tablestyle th,tr{
    border-collapse: separate;
    border-spacing: 15px 50px;  
    width: 10%;
    line-height:90%;
    text-align: center;
    border-color: cornsilk;
    }
    #details{
        line-height: 80%;
        margin-left:-32px;
    }
    #details tr,td{
    
    border-collapse: separate;
    border-spacing: 15px 50px; 
    text-align:left;
    line-height:90%;
    }