<h2 id="hero">User's Ticket</h2>
<hr>
<ng-template #loading >
    <div class="text-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem; margin-top:10%;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
</ng-template>
<br/>
<div class="container" *ngIf="ticketList else loading">
    <div class="row">
        <div class="col-3">
            <label>Search By Priority</label>
            <select name="priority" (change)="filterByPriority($event.target.value)">
                <option value="ALL">--ALL--</option>
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
            </select>
        </div>
        <div class="col-3">
            <label>Search By Status</label>
            <select id="priority" (change)="filterByStatus($event.target.value)">
                <option value="ALL">--ALL--</option>
                <option value="open">Open</option>
                <option value="close">Close</option>
                <option value="in-progress">In-progress</option>
                <option value="completed">Completed</option>
            </select>
        </div>
        <div class="col-3">
            <label>Search By Assigned To</label>
            <select id="priority" (change)="filterByAssigned($event.target.value)">
                <option value="ALL">--ALL--</option>
                <option value="Development Team">Development Team</option>
                <option value="Hardware Team">Hardware Team</option>
                <option value="Software Team">Software Team</option>
                <option value="Sales Team">Sales Team</option>
                <option value="Csml Team">Csml Team</option>
                <option value="Networking Team">Networking Team</option>
            </select>
        </div>
        <div class="col-3">
            <label>Search By Unassigned Ticket</label>
            <select id="priority" (change)="filterByUnassigned($event.target.value)">
                <option value="ALL">--ALL--</option>
                <option value="null">Unassigned Ticket</option>    
            </select>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sno</th>
                        <th>Ticket No</th>
                        <th>Title</th>
                        <th>Department </th>
                        <th>Ticketstatus</th>
                        <th>Priority</th>
                        <th>Action</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let ticket of ticketList;let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{ticket.id}}</td>
                        <td>{{ticket.title}}</td>
                        <td>{{ticket.department}}</td>
                        <td>{{ticket.ticketstatus}}</td>
                        <td>{{ticket.priority}}</td>
                        <td>
                            <button routerLink="../userticketdetail/{{ticket.id}}" class="btn btn-success">View User Ticket
                                Details</button> &nbsp;
                            <button routerLink="../edituserticketdetail/{{ticket.id}}" class="btn btn-danger">Edit User Ticket
                                Details</button> &nbsp;&nbsp;

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
