<h2>Edit Ticket Detail</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form #f="ngForm" (ngSubmit)="updateTicket(ticket)" *ngIf="ticket">
                <table class="table table-bordered" id="tablestyle">
                    <thead>
                        <tr>
                            <th>Ticket No</th>
                            <td>{{ticket.id}}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ticket.title}}</td>
                        </tr>
                        <tr>
                            <th>Ticketstatus</th>
                            <td>
                                <select name="ticketstatus" [(ngModel)]="ticket.ticketstatus">
                                    <option value="Close">Close</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Priority</th>
                            <td>
                                <select name="priority" [(ngModel)]="ticket.priority">
                                    <option value="Low">Low</option>
                                    <option value="Medium">Medium</option>
                                    <option value="High">High</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>
                                <textarea name="description" cols="30" rows="2" [(ngModel)]="ticket.description">
                                </textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>Created Date</th>
                            <td>{{ticket.createdDate}}</td>
                        </tr>
                    </thead>
                </table>
                <div class="row justify-content-center">
                    <button id="btn" class="btn btn-success">Submit</button>&nbsp;&nbsp;
                    <button class="btn btn-danger" (click)="deleteTicket(ticket.id)">Delete Ticket</button>
                </div>
            </form>
        </div>
    </div>
</div>